
/* #EB5E28 */

body{
  background: linear-gradient(145deg, 
  #003566 0%,
  #003566 50%,
  #FFC300 50%,
  #FFC300 100%
   );
   cursor:default;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Work Sans', sans-serif;
  color: #E5E5E5;
}

